/* scroll css */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #0fa;
}

::-webkit-scrollbar-thumb {
    background: #27e002;
    border-radius: 10px;
    border: 3.76px solid #0fa;
}

::-webkit-scrollbar-thumb:hover {
    background: green;
}