* {
    margin: 0;
    padding: 0;
    outline: 0;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(201, 255, 131);
    overflow-x: hidden;
}

nav,
.resultNav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    margin-bottom: 1vmin;
    padding: 5px;
    padding-left: 2vmin;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.name {
    font-size: 24px;
    margin: 0px 10px;
}

.nav-items,.practiceScoreClass {
    margin: 4px 10px;
    padding: 4px;
    cursor: pointer;
}

.nav-items:hover {
    background: rgb(25, 255, 25);
    padding: 4px;
    border-radius: 4px;
}

.nav-items-component {
    margin: 8px 0;
    flex-wrap: wrap;
    justify-content: center;
}

#timeSelector{
    font-size: 20px;
    padding: 4px;
    margin: 4px;
    justify-self: end;
}

#moveToTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
    min-width: 45px !important;
    text-align: center !important;
    font-size: 20px;
    font-weight: bold;
    background: rgb(102, 255, 0);
}

@media screen and (max-width:430px) {
    nav {
        justify-content: center;
    }
}